[Unit]
Description=Kibana
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target elasticsearch.service
Requires=elasticsearch.service

[Service]
Type=simple
User=kibana
Group=kibana
Environment=KBN_PATH_CONF=/etc/kibana
Environment=NODE_ENV=production
ExecStart=/usr/share/kibana/bin/kibana
Restart=always
RestartSec=3
WorkingDirectory=/usr/share/kibana

StandardOutput=journal
StandardError=inherit

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop Kibana
KillSignal=SIGTERM

# Send the signal only to the main kibana process
KillMode=process

# When Kibana receives a SIGTERM signal it exits with code 0
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target